.course-hover:hover,
.course-hover:active {
  background-color: #e7f1ff;
}
.course-hover {
  height: 80px;
  border-radius: 0;
  border-left: unset;
  border-right: unset;
  border-top: unset;
}

/* .virt-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  border-radius: 0;
  background-color: white;
}

.virt-list::-webkit-scrollbar {
  width: 12px;
  background-color: white;
}

.virt-list::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  background-color: #555;
} */
